$brand-primary: #79b3ec;
$text-color: rgb(9, 74, 57);
@import "_bootstrap.scss";

// body {
//     background: #fafafa;
//     font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
//     color: $text-color;
// }
//
// [ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
//     display: none !important;
// }
//
// .development {
//     position: absolute;
//     width: 149px;
//     height: 149px;
//     top: 0;
//     left: 0;
//     border: 0;
//     z-index: 1000;
//     background-image: url("../images/development_ribbon.png");
//     background-position: center center;
//     background-repeat: no-repeat;
// }
//
// .navbar-version {
//     font-size: 10px;
//     color: #ccc
// }
//
// .browserupgrade {
//     margin: 0.2em 0;
//     background: #ccc;
//     color: #000;
//     padding: 0.2em 0;
// }
//
// .hero-unit {
//     margin: 50px auto 0 auto;
//     width: 300px;
//     font-size: 18px;
//     font-weight: 200;
//     line-height: 30px;
//     background-color: #eee;
//     border-radius: 6px;
//     padding: 60px;
// }
//
// .hero-unit h1 {
//     font-size: 60px;
//     line-height: 1;
//     letter-spacing: -1px;
// }
//
// .error {
//     color: white;
//     background-color: red;
// }
//
// .hipster {
//     display: inline-block;
//     width: 347px;
//     height: 497px;
//     background: url("../images/hipster.png") no-repeat center top;
//     background-size: contain;
// }
//
// /* wait autoprefixer update to allow simple generation of high pixel density media query */
// @media
// only screen and (-webkit-min-device-pixel-ratio: 2),
// only screen and (   min--moz-device-pixel-ratio: 2),
// only screen and (     -o-min-device-pixel-ratio: 2/1),
// only screen and (        min-device-pixel-ratio: 2),
// only screen and (                min-resolution: 192dpi),
// only screen and (                min-resolution: 2dppx) {
//     .hipster {
//         background: url("../images/hipster2x.png") no-repeat center top;
//         background-size: contain;
//     }
// }
//
// /* make sure browsers use the pointer cursor for anchors, even with no href */
// a:hover {
//   cursor: pointer;
// }
//
//
// /* start Password strength bar style */
// ul#strength {
//     display:inline;
//     list-style:none;
//     margin:0;
//     margin-left:15px;
//     padding:0;
//     vertical-align:2px;
// }
//
// .point:last {
//     margin:0 !important;
// }
// .point {
//     background:#DDD;
//     border-radius:2px;
//     display:inline-block;
//     height:5px;
//     margin-right:1px;
//     width:20px;
// }
// /* end Password strength bar style */
//
// #map{
//  height: 500px;
// }
//
// .row.mb{
//     margin-bottom:15px;
// }
//
// /*Auto color border in red for form fields in error*/
// .ng-submitted .ng-invalid{
//     border-color: #a94442;
//     border-width: 2px;
//     box-shadow:none;
// }
//
// .top5 { margin-top:5px; }
// .top7 { margin-top:7px; }
// .top10 { margin-top:10px; }
// .top15 { margin-top:15px; }
// .top17 { margin-top:17px; }
// .top30 { margin-top:30px; }
//
// .left-space{
//     margin-left: 10px !important;
// }
//
// a.bare-link:link {
//     text-decoration: none;
// }
//
// a.bare-link:hover {
//     text-decoration: none;
// }
//
// a.bare-link:active {
//     text-decoration: none;
// }
//
// .dropdown-submenu {
//     position:relative;
// }
// .dropdown-submenu>.dropdown-menu {
//     top:0;
//     left:100%;
//     margin-top:-6px;
//     margin-left:-1px;
//     -webkit-border-radius:0 6px 6px 6px;
//     -moz-border-radius:0 6px 6px 6px;
//     border-radius:0 6px 6px 6px;
// }
// .dropdown-submenu:hover>.dropdown-menu {
//     display:block;
// }
// .dropdown-submenu>a:after {
//     display:block;
//     content:" ";
//     float:right;
//     width:0;
//     height:0;
//     border-color:transparent;
//     border-style:solid;
//     border-width:5px 0 5px 5px;
//     border-left-color:#cccccc;
//     margin-top:5px;
//     margin-right:-10px;
// }
// .dropdown-submenu:hover>a:after {
//     border-left-color:#ffffff;
// }
// .dropdown-submenu.pull-left {
//     float:none;
// }
// .dropdown-submenu.pull-left>.dropdown-menu {
//     left:-100%;
//     margin-left:10px;
//     -webkit-border-radius:6px 0 6px 6px;
//     -moz-border-radius:6px 0 6px 6px;
//     border-radius:6px 0 6px 6px;
// }
//
//
//
// /* Sensor links */
//
// .sensor :hover {
//   cursor: pointer;
// }
//
// .sensor-panel{
//    height: 400px;
//    overflow-y: scroll;
// }
//
// /* Spinner */
//
// .glyphicon-spin {
//   -webkit-animation: spin 1000ms infinite linear;
//   animation: spin 1000ms infinite linear;
// }
//
// @-webkit-keyframes spin {
//   0% {
//     -webkit-transform: rotate(0deg);
//     transform: rotate(0deg);
//   }
//   100% {
//     -webkit-transform: rotate(359deg);
//     transform: rotate(359deg);
//   }
// }
//
// @keyframes spin {
//   0% {
//     -webkit-transform: rotate(0deg);
//     transform: rotate(0deg);
//   }
//   100% {
//     -webkit-transform: rotate(359deg);
//     transform: rotate(359deg);
//   }
// }
//
// .busy-overlay-container {
//   position: relative;
//   z-index: 1;
// }
//
// .busy-overlay-container .busy-overlay-sign{
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   font-size: 1.5em;
//   z-index: 3;
// }
//
// .busy-overlay-container .busy-overlay-backdrop {
//   position: absolute;
//   top: 0px;
//   left: 0px;
//   right: 0px;
//   bottom: 0px;
//
//   background-color: grey;
//   opacity: .7;
//
//   z-index: 2;
// }
//
//
// .modal-full .modal-dialog{
//     width: 100%;
// }
//
// .nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
//
// /* Sensors selection */
//
// a.sensor{
//     font-weight: bold;
// }
//
// .sensor-selected{
//     color: #269B49;
// }
//
// .sensor-selected:after{
//     font-family: "Glyphicons Halflings";
//     content: "  \e251";
// }
//
// .img-thumbnail{
//     width: 100px;
// }
//
// .thumb-panel{
//     float:left;
//     font-size: 0.8em;
// }
//
// .thumb-panel .panel-body{
//     padding: 5px;
// }
//
// /* ==== Vertical align ==== */
// .vertical-align {
//   display: flex;
//   flex-direction: row;
//   height:170px;
// }
//
// .vertical-align > [class^="col-"],
// .vertical-align > [class*=" col-"] {
//   display: flex;
//   align-items: center;     /* Align the flex-items vertically */
//   justify-content: center; /* Optional, to align inner flex-items
//                               horizontally within the column  */
// }
//
// /* ==== Slide controls ==== */
// .slide-control{
//     @extend .text-primary;
//     font-size: 15px;
//     cursor: pointer;
// }
//
// .slow-image{
//    background: url("../images/ajax-loader.gif") no-repeat;
// }
//
// .sensor-type{
//     padding-right:5px;
// }
//
// .choices{
//     padding-left: 5px !important;
// }
//
// #bug-count-input{
//     width: 70px;
// }
//
// tr.white{
//     background-color: white;
// }
//
// .navbar{
//     margin-bottom: 0px;
// }
//
// #tooltip{
//     position:absolute;
//     background:white;
//     border:1px solid blue;
// }
//
// canvas{
//     width: 100%;
//     height: auto
// }
//
//
// /*Center all maps horizontally*/
// .angular-leaflet-map{
//      @extend .center-block;
// }
//
// // Reset leaflet style radio buttons z-index
// .leaflet-top{
//   z-index: 1;
// }
//
// .line-highlight{
//   background-color: rgba(121,179,236,0.3);
// }
//
// .site-row{
//   margin-left: 15px;
// }
//
// .site-row-title{
//   padding-left: 40px;
// }
//
// .action-icon{
//   margin-right: 10px;
// }
//
// @font-face {
//     font-family: 'icomoon';
//     src:    url('fonts/icomoon.eot?vvek37');
//     src:    url('fonts/icomoon.eot?vvek37#iefix') format('embedded-opentype'),
//         url('fonts/icomoon.ttf?vvek37') format('truetype'),
//         url('fonts/icomoon.woff?vvek37') format('woff'),
//         url('fonts/icomoon.svg?vvek37#icomoon') format('svg');
//     font-weight: normal;
//     font-style: normal;
// }
//
// [class^="icon-"], [class*=" icon-"] {
//     /* use !important to prevent issues with browser extensions that change fonts */
//     font-family: 'icomoon' !important;
//     speak: none;
//     font-style: normal;
//     font-weight: normal;
//     font-variant: normal;
//     text-transform: none;
//     line-height: 1;
//
//     /* Better Font Rendering =========== */
//     -webkit-font-smoothing: antialiased;
//     -moz-osx-font-smoothing: grayscale;
// }
//
// .icon-bug:before {
//     content: "\e900";
// }
//
// /* ================================ */
//     // NAVBAR
// /* ================================ */
//
// .navbar-header{
//   margin-left: 60px !important;
// }
//
// #navbar-collapse > ul{
//   margin-top: 15px;
// }
//
//
// /* ================================ */
//     // FOOTER => stick it to the bottom
// /* ================================ */
//
// html, body {
//   height: 100%;
// }
//
// #wrap {
//   min-height: 100%;
// }
//
// #main {
//   overflow:auto;
//   padding-bottom:150px; /* this needs to be bigger than footer height*/
// }
//
//
// .footer {
//   position: relative;
//   margin-top: -150px; /* negative value of footer height */
//   height: 150px;
//   clear:both;
//   padding-top:20px;
// }
//
// // SLIDER MODAL
//
// .slider-title{
//   padding-top: 10px;
//   padding-bottom: 10px;
//   padding-left: 5px;
// }
//
// .compare-close{
//   color: rgb(255, 255, 255);
//   padding-right: 5px;
//   font-size: 20px;
// }
//
// // Patch for the ugly list-group selected button in chrome
// button.list-group-item:focus {
//   z-index: 1;
// }
//
//
// .form-group {
//     margin-right: 20px;
// }

@font-face {
    font-family: 'maximum_securityregular';
    src: url('MAXIMUMSECURITY-webfont.eot');
    src: url('MAXIMUMSECURITY-webfont.eot?#iefix') format('embedded-opentype'),
         url('MAXIMUMSECURITY-webfont.woff') format('woff'),
         url('MAXIMUMSECURITY-webfont.ttf') format('truetype'),
         url('MAXIMUMSECURITY-webfont.svg#maximum_securityregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


#breadcrumbs > li {
    float: left;
}


.row {
  max-width: 1280px;

}

.sidebar {
  background-image: url("../images/sbg.png");
}

.banner{
  font-family: 'maximum_securityregular', Arial, sans-serif;
  font-size: 58px;
}
