<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-4">
      <h1 translate="korisnik.title">Korisnik</h1>

      <form class="form" role="form" name="korisnikCtrl.korisnikForm" novalidate>
        <div class="form-group">
          <label for="korisnickoIme" translate="korisnik.form.korisnickoIme">K.ime</label>
          <input type="text" name="korisnickoIme" class="form-control" id="korisnickoIme" ng-model="korisnikCtrl.korisnik.korisnickoIme" required>
          <div ng-if="korisnikCtrl.korisnikForm.$submitted" ng-messages="korisnikCtrl.korisnikForm.username.$error">
            <div ng-message="required" class="text-danger">{{"global.form.required"|translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="naziv" translate="korisnik.form.naziv">Naziv</label>
          <input type="text" name="naziv" class="form-control" id="naziv" ng-model="korisnikCtrl.korisnik.naziv" required>
          <div ng-if="korisnikCtrl.korisnikForm.$submitted" ng-messages="korisnikCtrl.korisnikForm.naziv.$error">
            <div ng-message="required" class="text-danger">{{"global.form.required"|translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="lozinka" translate="korisnik.form.lozinka">Naziv</label>
          <input type="password" name="lozinka" class="form-control" id="lozinka" ng-model="korisnikCtrl.korisnik.lozinka" required>
          <div ng-if="korisnikCtrl.korisnikForm.$submitted" ng-messages="korisnikCtrl.korisnikForm.lozinka.$error">
            <div ng-message="required" class="text-danger">{{"global.form.required"|translate}}</div>
          </div>
        </div>
        <div class="form-group">
          <label for="passwordConfirm" translate="korisnik.form.passwordConfirm">password confirm</label>
          <input type="password" name="passwordConfirm" class="form-control" id="passwordConfirm" ng-model="korisnikCtrl.korisnik.passwordConfirm" required>
          <div ng-if="korisnikCtrl.korisnikForm.$submitted" ng-messages="korisnikCtrl.korisnikForm.passwordConfirm.$error">
            <div ng-message="required" class="text-danger">{{"global.form.required"|translate}}</div>
          </div>
        </div>
        <div class="alert alert-danger" role="alert" ng-if="korisnikCtrl.errorsFromServer"><strong>{{korisnikCtrl.errorsFromServer}}</strong></div>
        <button class="btn btn-primary" translate="global.action.save" ng-click="korisnikCtrl.save(korisnikCtrl.korisnikForm.$valid)">Authenticate</button>
      </form>

    </div>
  </div>
</div>
