{{> header}}
<h2>My previous posts</h2>

<article>
    <ul>
        {{#each collections.posts}}
            <li>
                <h3><a href="/{{this.path}}">{{this.title}}</a></h3>
                {{!-- <article>{{this.contents}}</article> --}}
            </li>
        {{/each}}
    </ul>
</article>

{{> footer}}
